.login-container {
  min-height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .brand {
  width: 30%;
  margin: 0 auto;
  /* background-color: green; */
  margin-bottom: 10%;
}
.login-container .brand img {
  width: 80%;
}

.login-form input {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 12px;
  width: 75%;
}
.login-form input:focus {
  outline: none;
}
.login-form input:last-child {
  width: 100px;
  background-color: #f91944;
  color: #fff;
  cursor: pointer;
}
